.sc-popup {
    position: absolute;
    width: 340px;
    height: 180px;
    left: calc(50% - 170px);
    top: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    padding: 20px;

    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 3px;

    transform: scale(0.8);
}

.sc-popup.sc-popup-active {
    visibility: visible;
    opacity: 1;

    transform: scale(1.1);
}

.sc-popup-transition {
    transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}